# OS / editor
.DS_Store
.vscode/
.idea/

# Raw sequencing data
data/raw/
*.fastq
*.fastq.gz
*.fq.gz

# Results and intermediate files
results/
logs/
tmp/

# Snakemake internals
.snakemake/

# Reference genome large files
data/reference/**/*.fa
data/reference/**/*.fa.gz

# Aligner indices
data/reference/**/hisat2_index/
data/reference/**/star_index/

# Reference auxiliary binary files
data/reference/**/*.fai
data/reference/**/*.dict

# Alignment files
*.sam
*.bam
*.bai
*.cram
*.crai

